/*-------------------------------Synopsis ------------------------------------*/

article {
  font-size: 1.4rem;
  padding: 15px;
  height: 600px;
  width: 50vw;
}

#synopsis {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

#synopsis img {
  width: 40vw;
  padding-bottom: 20px;
}

/*-------------------------------Form ------------------------------------*/

#form {
  padding-top: 25px;
  width: 100vw;
  height: 800px;
  background-image: linear-gradient(yellowgreen, yellow);
  box-sizing: border-box;
}

#form h1 {
  font-size: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

[type="submit"] {
  font-size: 2.2rem;
  width: 20vw;
  background-color: red;
  color: white;
  margin: auto;
}

[type="submit"]:hover {
  cursor: pointer;
  background: yellowgreen;
  color: red;
}

label {
  font-size: 2rem;
}

input:not([type="submit"]) {
  height: 5vh;
}

/*-------------------------------Footer ------------------------------------*/

#list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  width: 40%;
}

#list div {
  padding: 5px;
}

#list a:hover {
  color: red;
  font-weight: bold;
}

footer {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
  color: blue;
}

[alt="logo_one"] {
  width: 30vw;
  height: 20vh;
}

/*-------------------------------Phone ------------------------------------*/

@media screen and (max-width: 450px) {
  article {
    height: 500px;
    font-size: 0.5rem;
  }

  #synopsis {
    height: 450px;
    margin-bottom: 20px;
  }

  #synopsis img {
    height: 400px;
    justify-self: center;
  }

  #form h1,
  label,
  [type="submit"] {
    font-size: 1rem;
  }

  #form h1 {
    text-indent: 4px;
    padding: 2px;
  }

  [alt="logo_one"] {
    width: 150px;
    height: 100px;
    margin-right: 5px;
  }

  #list {
    font-size: 0.8rem;
  }

  #form {
    height: 640px;
    /* margin-top: 50px; */
  }

  footer {
    height: 120px;
  }
}

/*-------------------------------Tablet ------------------------------------*/

@media screen and (min-width: 451px) and (max-width: 768px) {
  article {
    height: 600px;
    font-size: 0.9rem;
  }

  #synopsis {
    height: 600px;
    margin-bottom: 0px;
  }

  #synopsis img {
    height: 500px;
    justify-self: center;
  }

  #form h1,
  label,
  [type="submit"] {
    font-size: 1.4rem;
  }

  #form h1 {
    text-indent: 5px;
  }

  #form {
    height: 750px;
  }

  [alt="logo_one"] {
    width: 250px;
    height: 150px;
    margin-right: 5px;
  }

  #list {
    font-size: 1.2rem;
    padding: 5px;
  }

  footer {
    height: 200px;
  }
}

/*-------------------------------IPAD PR0 ------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer {
    height: 200px;
  }

  [alt="logo_one"] {
    width: 250px;
    height: 150px;
    margin-right: 5px;
  }

  #form {
    height: 900px;
  }

  #synopsis {
    height: 85vh;
  }

  article {
    font-size: 1.6rem;
  }
}
