html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

nav div {
  background-color: lawngreen;
}

nav div:hover {
  background-color: yellow;
  cursor: pointer;
}

nav div:hover a {
  color: red;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  background-color: yellowgreen;
}

[alt="logo"] {
  width: 30vw;
  height: 20vh;
  visibility: hidden;
  animation-name: logo_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#header-container:hover [alt="colorie"] {
  transition: transform 2s, visibility 2s;
  transition-delay: 1s;
}

[alt="colorie"] {
  width: 80%;
  height: 20vh;
  /* transform: translate(-1222px, 0px); */
  visibility: hidden;
  /* transition-duration: 1s;
  transition-delay: 0s; */
  animation-name: colorie_animation;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

[alt="colorieweb"] {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  width: 100vw;
}

nav div {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  text-align: center;
  padding: 0.5%;
  white-space: nowrap;
}

article {
  font-size: 1.4rem;
  padding: 15px;
}

#synopsis {
  height: 100vh;
  padding: 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

#synopsis img {
  padding-bottom: 20px;
}

#characters {
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#characters h1 {
  background-color: yellow;
  width: 50vw;
  text-align: center;
  margin-top: 0;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  background-color: rgb(64, 172, 55);
  padding: 25px;
}

.character:nth-child(2n) {
  background-color: yellow;
  overflow: hidden;
}

.character:nth-child(2n + 1) {
  background-color: yellowgreen;
  overflow: hidden;
  color: yellow;
}

.character:hover img {
  transform: scale(1.1);
  transition: transform 1s;
}

#characters img {
  width: 20vw;
  height: 40vh;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 1.4rem;
}

#form {
  padding-top: 25px;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(yellowgreen, yellow);
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

[type="submit"] {
  font-size: 1.6rem;
  width: 20vw;
  background-color: red;
  color: white;
  margin: auto;
}

[type="submit"]:hover {
  cursor: pointer;
  background: yellowgreen;
  color: red;
}

label {
  font-size: 1.2rem;
}

input {
  height: 5vh;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  width: 40%;
}

#list div {
  padding: 5px;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
  color: blue;
}

[alt="logo_one"] {
  width: 30vw;
  height: 20vh;
}

@keyframes logo_animation {
  from {
    visibility: hidden;
    clip-path: circle(0 at 0 0);
  }
  to {
    visibility: visible;
    clip-path: circle(150% at 0 0);
  }
}

@keyframes logo_animation {
  from {
    visibility: hidden;
    clip-path: circle(0 at 0 0);
  }
  to {
    visibility: visible;
    clip-path: circle(150% at 0 0);
  }
}

@keyframes logo_animation {
  from {
    visibility: hidden;
    clip-path: circle(0 at 0 0);
  }
  to {
    visibility: visible;
    clip-path: circle(150% at 0 0);
  }
}

@keyframes colorie_animation {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
    transform: translate(-1222px, 0px);
  }
}
